{% extends 'base.html' %}


{% block content %}
<h2>{{ folder }}</h2>

<ul>
  <li><a href="{% url 'create_set' folder.pk %}" class="btn btn-primary" style="width: 180px;">New set here</a></li>
  <li><a href="{% url 'delete_folder' folder.pk %}" class="btn btn-primary" style="color: red; width: 180px">Delete folder</a></li>
</ul>
<p>{{ folder.description }}</p>
<hr style="color: white; width: 100%;">
  {% if sets %}
    {% for set in sets %}
      <ul>
        <li>{{ set.name }}</li>
      </ul>
    {% endfor %}
  {% endif %}


{% endblock %}