{% extends 'base.html' %}

{% block content %}
{% if folder %}
<div class="folder-header-container">
  <h2>{{ folder }}</h2>
  <div class="folder-actions">
    <a href="{% url 'create_set' folder.pk %}" class="btn btn-start" style="width: 150px;">New set here</a>
    <a href="{% url 'edit_folder' folder.pk %}" class="btn btn-edit" style="width: 150px;">Edit folder</a>
    <a href="{% url 'delete_folder' folder.pk %}" class="btn btn-delete" style="width: 150px;">Delete folder</a>
  </div>
</div>
<p>{{ folder.description }}</p>

<hr style="color: white; width: 100%;">
{% endif %}
{% if sets %}
{% for set in sets %}
<div class="set-container">
  <div class="set-info">
    <h3>{{ set.name }}{% if set.folder %} (folder {{ set.folder }}){% endif %}</h3>
  </div>
  <div class="set-actions">
    <a href="{% url 'start_test' set.pk %}" class="btn btn-set btn-start">Start</a>
    <a href="{% url 'edit_set' set.pk %}" class="btn btn-set btn-edit">Edit</a>
    <a href="{% url 'delete_set' set.pk %}" class="btn btn-set btn-delete">Delete</a>
  </div>

</div>
{% endfor %}
{% endif %}
{% endblock %}