{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="main-header">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% for m in mainmenu %}

            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
        {% endfor %}

        {% if user.is_authenticated %}
            <li class="last"><a href="{% url 'users:profile' %}">{{ user.username }}</a> | <a href="{% url 'users:logout' %}">Log out</a></li>
        {% else %}
            <li class="last"><a href="{% url 'users:login' %}">Login</a> | <a href="{% url 'users:register' %}">Register</a></li>
        {% endif %}

    </header>

    <div class="main-layout-container">
        <aside class="sidebar">

            <ul class="sidebar-folders">
                {% block sidebar_content %}
                <li><a href="{% url 'create_folder' %}" class="btn btn-folder" style="color: blue">New folder</a></li>
                <li><a href="{% url 'set_list' %}" class="btn btn-folder" style="color: blue">Library</a></li>
                <hr style="color: white;">
                    {% if user_folders %}
                        {% for folder in user_folders %}
                            <li><a href="{% url 'folder_detail' folder.pk %}" class="btn btn-folder{% if folder.pk == folder_selected %} active{% endif %}">{{ folder }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </ul>
        </aside>

        <main class="main-content">
            <div class="container">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}
                    <h1>Welcome to Testria!</h1>
                {% endblock %}
            </div>
        </main>
    </div>

    <footer class="main-footer">
        <div class="container">
            <p>{% now "Y" %} Testria. All rights are served</p>
        </div>
    </footer>

</body>
</html>