{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="auth-page-body">
{% block content %}
<div class="auth-form-container">
    <h2 class="form-title">{{title}}</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}

        {% for f in form %}
            <div class="form-group">
                {{ f.label_tag }}
                {{ f }}
                {% if field.help_text %}
                    <small class="help-text">{{ f.help_text }}</small>
                {% endif %}
                {% for error in f.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">{{btn_title|default:"Send"}}</button>
    </form>
    {% block extracontent %} {% endblock %}
</div>
{% endblock %}

</body>
</html>