{% extends 'base.html' %}

{% block content %}
    <h2 class="form-title">{{ title }}</h2>
    <form method="post" class="base-form" enctype="multipart/form-data">
        {% csrf_token %}

        {% if user.photo %}
        <p><img src="{{ user.photo.url }}" class="profile-photo" alt="photo"></p>
        {% else %}
        <p><img src="{{ default_user_image }}" class="profile-photo" alt="photo"></p>
        {% endif %}

        {% for f in form %}
        <div class="form-group">
            {{ f.label_tag }}
            {{ f }}
            {% if f.help_text %}
                <small class="help-text">{{ d.help_text }}</small>
            {% endif %}
            {% for error in f.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for error in form.non_field_errors %}
                <p class="error-message">{{ f.error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <p><a href="{% url 'users:password_change' %}">Change password</a></p>

{% if not user.is_verified %}
    <p>
        Your email address is not yet verified. Please check your inbox for a verification link.
        If you haven't received it or the link has expired, you can request a new one:
    </p>
    <p><a href="{% url 'users:resend_verification' %}?next={{ request.path|urlencode }}" class="btn btn-primary">Resend Verification Email</a></p>
{% else %}
    <p>Your email address is verified. <span style="color: green;">&#10003;</span></p>
{% endif %}
{% endblock %}


